body, html {
  font-family: 'helvetica', 'arial', sans-serif;
  background: white;
  margin: 0;
}

/* synth-layout */
.synth {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}
.keyboard-wrapper {
  clear: both;
  margin: 0 auto;
}
@media (min-width: 600px){
  .keyboard-wrapper {
    padding-top: 30px;
  }
}

/* controls */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  font-size: 1.6em;
  margin: 0;
  padding: 0 0 10px;
}
.labeled-slider, .labeled-selector {
  padding: 10px 0 15px;
}
.labeled-selector {
  position: relative;
  float: left;
  margin-right: 20px;
}
.labeled-selector:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 60px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #222;
  z-index: 1;
}
.labeled-slider label,
.labeled-selector label {
  display: block;
}
.labeled-selector label,
.labeled-slider label {
  padding-bottom: 15px;
}
.selector {
  padding: 10px 40px 10px 15px;
  display: inline-block;
  border: 3px solid #222;
  border-radius: 0;
  font-size: 1em;
  background: transparent;
  color: #222;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 2;
}
.selector:focus {
  border-color: #e74c3c;
}
@media (min-width: 600px){
  .selector{
    min-width: 120px;
  }
}
@media (min-width: 1000px){
  .selector{
    min-width: 140px;
  }
}

/* slider */
.slider {
  height: 5px;
  width: 90%;
  display: block;
  -webkit-appearance: none;
  background-color: #222;
  border-radius: 5px;
  outline: none;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #e74c3c;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.slider::-moz-range-track {
  height: 5px;
  display: block;
  background-color: #222;
  border-radius: 5px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #e74c3c;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
​.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:focus {
  background-color: white;
  border: 2px solid #e74c3c;
}
.slider::-webkit-slider-thumb:focus,
.slider::-webkit-slider-thumb:active {
  transform: scale(1.1);
}
@media (min-width: 800px){
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
  }
  .slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
  }
}

/* keys */
.keyboard {
  width: 100%;
  overflow: hidden;
  padding: 0;
}
@media (min-width: 800px){
  .keyboard {
    width: 70%;
  }
}
li {
  list-style: none;
  width: 12%;
  height: 200px;
  float: left;
}
@media (min-width: 600px){
  li {
    height: 300px;
  }
}
li:not(:last-child) button {
  border-right: none;
}
button {
  display: block;
  box-sizing: border-box;
  border: 5px solid #222;
  height: 100%;
  width: 100%;
  background: white;
  font-size: 0.5rem;
  padding-top: 160px;
}
.sharp button,
.sharp:not(:last-child) button {
  background: #222;
  color: white;
  height: 65%;
  border: 5px solid #222;
  border-radius: 5px;
  padding-top: 100px;
}
.sharp {
  width: 10%;
  margin-left: -5%;
  margin-right: -5%;
  position: relative;
  z-index: 1;
}
button:focus,
.sharp button:focus,
.sharp.pressed button,
.pressed button {
  outline: none;
  background: rgb(250, 200, 0);
  color: #222;
}

/* oscillators */
.oscillator {
  width: 50%;
  float: left;
}
.oscillator-controls .labeled-slider{
  clear: both;
}
@media (min-width: 800px){
  .oscillator {
    padding-right: 5%;
    width: 33%;
  }
}

/* filter */
.filter .labeled-slider {
  float: left;
  width: 50%;
}
@media (min-width: 800px){
  .filter {
    float: left;
    width: 30%;
  }
  .filter .labeled-slider {
    height: 280px;
    position: relative;
  }
  .filter .slider {
    width: 205px;
    height: 6px;
    transform:rotate(90deg);
    position: absolute;
    top: 154px;
    right: 10px;
  }
  .filter label {
    position: absolute;
    top: 10px;
    left: auto;
  }
}

#audio-canvas {
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}
@media (min-width: 800px){
  #audio-canvas {
    position: absolute;
    right: 0;
    top: 70px;
  }
}
@media (min-width: 1000px){
  #audio-canvas {
    right: 50px;
    top: 100px;
  }
}
