body, html {
  font-family: 'helvetica', 'arial', sans-serif;
  background: white;
}


/* synth-layout */
.synth {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
.keyboard-wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* controls */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  font-size: 1.6em;
  margin: 0;
  padding: 0 0 10px;
}
.labeled-slider, .labeled-selector {
  padding: 10px 0 15px;
}
.labeled-selector {
  position: relative;
}
.labeled-selector:after {
  content: '';
  position: absolute;
  left: 95px;
  top: 60px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #222;
  z-index: 1;
}
.labeled-slider label,
.labeled-selector label {
  display: block;
}
.labeled-selector label,
.labeled-slider label {
  padding-bottom: 15px;
}
.selector {
  display: inline-block;
  padding: 10px 40px 10px 15px;
  border: 3px solid #222;
  border-radius: 0;
  font-size: 1em;
  background: transparent;
  color: #222;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 2;
}
.selector:focus {
  border-color: #e74c3c;
}

/* slider */
.slider {
  display: block;
  -webkit-appearance: none;
  background-color: #222;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  outline: none;
}
.slider::-moz-range-thumb {
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.slider::-moz-range-track {
  display: block;
  background-color: #222;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
​.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:focus {
  background-color: white;
  border: 2px solid #e74c3c;
}
.slider::-webkit-slider-thumb:focus,
.slider::-webkit-slider-thumb:active {
  transform: scale(1.1);
}


/* keys */
.keyboard {
  overflow: hidden;
  width: 720px;
  padding: 0;
}
li {
  list-style: none;
  height: 300px;
  width: 90px;
  float: left;
}
li:not(:last-child) button {
  border-right: none;
}
button {
  display: block;
  border: 5px solid #222;
  height: 100%;
  width: 100%;
  background: white;
}
.sharp button, .sharp:not(:last-child) button {
  background: #222;
  color: white;
  height: 65%;
  border: 5px solid #222;
  border-radius: 5px;
}
.sharp {
  width: 60px;
  margin-left: -30px;
  margin-right: -30px;
  position: relative;
  z-index: 1;
}
button:focus,
.sharp button:focus,
.sharp.pressed button,
.pressed button {
  outline: none;
  background: rgb(250, 200, 0);
  color: #222;
}

/* oscillators */
.synth-oscillators {
  overflow: hidden;
  margin-bottom: 40px;
  padding-left: 100px;
}
.oscillator {
  width: 350px;
  float: left;
}

/* filter */
.filter {
  overflow: hidden;
  width: 280px;
  float: left;
}
.filter .labeled-slider {
  float: left;
  position: relative;
  width: 140px;
  height: 280px;
}
.filter .slider {
  width: 230px;
  writing-mode: bt-lr;
  transform:rotate(90deg);
  position: absolute;
  top: 160px;
  right: 0;
}
.filter label {
  position: absolute;
  top: 0;
  left: auto;
}
